<h1><%= t(".title", hotel_name: @hotel.name) %></h1>

<% if @tickets.empty? %>
  <p><%= t("admin.hotel_tickets.index.empty") %></p>
<% else %>
  <table>
    <thead>
      <tr>
        <th><%= t(".subject") %></th>
        <th><%= t(".body") %></th>
        <th><%= t(".status") %></th>
        <th><%= t(".priority") %></th>
        <th><%= t(".guest") %></th>
        <th><%= t(".department") %></th>
        <th><%= t(".staff") %></th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.subject %></td>
          <td><%= ticket.body %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.priority %></td>
          <td><%= ticket.guest.name %></td>
          <td><%= ticket.department.name %></td>
          <td><%= ticket.staff&.name || t("admin.hotel_tickets.index.unassigned") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tickets %>
<% end %>
