<h1><%= @staff_member.name %></h1>

<dl>
  <dt><%= t(".name") %></dt>
  <dd><%= @staff_member.name %></dd>

  <dt><%= t(".email") %></dt>
  <dd><%= @staff_member.email %></dd>

  <dt><%= t(".role") %></dt>
  <dd><%= @staff_member.role %></dd>

  <dt><%= t(".hotel") %></dt>
  <dd><%= @hotel.name %></dd>
</dl>
